<h1 align='center'>REAL ESTATE PROS.</h1>
<div>
  <div class="large-9 column">
   
  </div>
  <div class="large-3 column">
   <h1> <%=link_to 'Login', :action => 'index', :class => "buton"%>
    </h1>
  </div>
